<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>通知列表</span>
  </div>
  <div class="chaos-panel-toolbar">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= chaos_toolbar_to '<i class="icol-magnifier"></i> 搜索' %>
      </div>
    </div>
  </div>
  <div class="chaos-panel-body no-padding">
    <table class="chaos-table">
      <thead>
        <tr>
          <th>标题</th>
          <th>内容</th>
          <th>状态</th>
          <th>时间</th>
          <th class="action">操作</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="5"><%= chaos_paginate @notifications %></td>
        </tr>
      </tfoot>
      <tbody>
      <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.title.truncate(10) %></td>
        <td><%= notification.content.truncate(20) %></td>
        <td><%= styled_boolean_tag notification.read?, true_value: '已读', false_value: '未读' %></td>
        <td><%= datetime_tag notification.created_at %></td>
        <td>
          <%= chaos_button_to_show url_for([:admin, notification]) %>
          <%= chaos_button_to_destroy url_for([:admin, notification]) %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>