<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="article-list">
    <ul>
      <% @articles.each do |article| %>
      <li>
        <h2><%= link_to article.title.truncate(36), article %><span><%= date_tag article.displayed_at %></span></h2>
        <div class="category"><%= article.category.name %></div>
        <div class="content"><%= indent_tag article.content.strip_tags.strip.truncate(150) %></div>
      </li>
      <% end %>
    </ul>
    <div class="pagination"><%= will_paginate @articles %></div>
  </div>
</div>
<%= render '/articles/side' %>