<div class="chaos-stat-container clearfix">
  <div class="chaos-panel grid_3">
    <div class="chaos-panel-header">
      <span>会员数量统计</span>
    </div>
    <div class="chaos-panel-body no-padding">
      <ul class="chaos-summary clearfix">
        <li>
          <span class="key">会员总数</span>
          <span class="val">
            <span class="text-nowrap"><%= @all_members_count %></span>
          </span>
        </li>
        <li>
          <span class="key">个人会员（国内）</span>
          <span class="val">
            <span class="text-nowrap"><%= @domestic_individual_members_count %></span>
          </span>
        </li>
        <li>
          <span class="key">个人会员（国外）</span>
          <span class="val">
            <span class="text-nowrap"><%= @foreign_individual_members_count %></span>
          </span>
        </li>
        <li>
          <span class="key">单位会员（国内）</span>
          <span class="val">
            <span class="text-nowrap"><%= @domestic_organization_members_count %></span>
          </span>
        </li>
        <li>
          <span class="key">单位会员（国外）</span>
          <span class="val">
            <span class="text-nowrap"><%= @foreign_organization_members_count %></span>
          </span>
        </li>
      </ul>
    </div>
  </div>
  <div class="chaos-panel grid_5">
    <div class="chaos-panel-header">
      <span><i class="icon-graph"></i> Charts</span>
    </div>
    <div class="chaos-panel-body">
      <div id="chaos-dashboard-chart" style="height: 176px;"></div>
    </div>
  </div>
</div>