<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>修改密码</span>
  </div>
  <div class="chaos-panel-body no-padding">
    <%= form_tag update_password_admin_profile_path, class: 'chaos-form' do %>
      <%= flash_tag %>
      <div class="chaos-form-inline">
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">原密码</label>
          <div class="chaos-form-item">
            <%= password_field_tag 'orginal_password' %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">新密码</label>
          <div class="chaos-form-item">
            <%= password_field_tag 'new_password' %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">确认新密码</label>
          <div class="chaos-form-item">
            <%= password_field_tag 'confirmd_password' %>
          </div>
        </div>
      </div>
      <div class="chaos-button-row">
        <%= submit_tag '提交', class: 'btn btn-danger' %>
        <input type="reset" value="重置" class="btn" />
      </div>
    <% end %>
  </div>
</div>