<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>创建新话题</span>
  </div>
  <div class="chaos-panel-body no-padding">
    <%= form_for [:admin, @topic], html: { class: 'chaos-form' } do |f| %>
      <%= render "shared/admin/error_messages", target: @topic %>
      <div class="chaos-form-inline">
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">论坛</label>
          <div class="chaos-form-item">
            <%= f.collection_select :forum_id, Forum.all, :id, :name %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">标题</label>
          <div class="chaos-form-item">
            <%= f.text_field :title %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">作者</label>
          <div class="chaos-form-item">
            <%= f.text_field :author %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">内容</label>
          <div class="chaos-form-item">
            <%= f.kindeditor :content %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">是否原创</label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= f.check_box :original %></li>
            </ul>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">是否精华</label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= f.check_box :featured %></li>
            </ul>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">显示时间</label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= f.datetime_select :displayed_at %></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="chaos-button-row">
        <%= f.submit '提交', class: 'btn btn-danger' %>
        <input type="reset" value="重置" class="btn" />
        <%= chaos_button_to_return '返回话题列表', path: admin_topics_path %>
      </div>
    <% end %>
  </div>
</div>