<div id="main-home">
  <div class="poster">
    <%= image_tag 'poster_1.png', alt: 'TEST 1' %>
  </div>
  <div class="news">
    <div class="left">
      <h3>综合信息<%= link_to '更多' %></h3>
      <div class="news-rich-row">
        <label class="news-label"><%= link_to '标题标题标题标题标题标题标题标题标题标题' %><span>孔子学院</span></label>
        <div class="news-content">
          内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
        </div>
      </div>
      <div class="news-rich-row">
        <label class="news-label"><%= link_to '标题标题标题标题标题标题标题标题标题标题' %><span>孔子学院</span></label>
        <div class="news-content">
          内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
        </div>
      </div>
      <div class="news-rich-row">
        <label class="news-label"><%= link_to '标题标题标题标题标题标题标题标题标题标题' %><span>孔子学院</span></label>
        <div class="news-content">
          内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...
        </div>
      </div>
      <ul class="news-plain">
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
        <li><%= link_to '标题标题标题标题标题标题标题标题' %><span>孔子学院</span></li>
      </ul>
    </div>
    <div class="right">
      <h3>交流互动<%= link_to '更多' %></h3>
      <ul class="news-plain">
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
      </ul>
      <h3>世汉论坛<%= link_to '更多' %></h3>
      <ul class="news-plain">
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
        <li><%= link_to '标题标题标题标题标题标题' %><span>某某某</span></li>
      </ul>
      <h3>教学资源<%= link_to '更多' %></h3>
    </div>
    <div class="clear"></div>
  </div>
  <div class="book">
    <h3>图书展示<%= link_to '更多' %></h3>
    <ul>
      <li><%= link_to image_tag('book-demo.png') %></li>
      <li><%= link_to image_tag('book-demo.png') %></li>
      <li><%= link_to image_tag('book-demo.png') %></li>
      <li><%= link_to image_tag('book-demo.png') %></li>
      <li><%= link_to image_tag('book-demo.png') %></li>
    </ul>
  </div>
</div>
<div id="side" class="home-side">
  <div class="side-row">
    搜索
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row">
    通讯
  </div>
  <div class="side-row last">
    通讯
  </div>
</div>