<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="book-list">
    <ul>
      <% @books.each do |book| %>
      <li>
        <div class="image">
          <%= default_image_tag book.image, size: '105x150' %>
        </div>
        <div class="property">
          <h2><%= link_to book.name.truncate(24), book %></h2>
          <div class="author">作者：<span><%= book.author %></span></div>
          <div class="publisher">出版社：<span><%= book.publisher %></span></div>
          <div class="description"><%= indent_tag book.description.strip_tags.strip.truncate(145) %></div>
        </div>
        <div class="clear"></div>
      </li>
      <% end %>
    </ul>
    <div class="pagination"><%= will_paginate @books %></div>
  </div>
</div>
<%= render 'side' %>