<div class="chaos-panel grid_8">
  <div class="chaos-panel-header">
    <span>编辑单位会员信息</span>
  </div>
  <div class="chaos-panel-body no-padding">
    <%= form_for [:admin, @organization_member], html: { class: 'chaos-form', multipart: true } do |f| %>
      <% if not @errors_count.blank? and @errors_count > 0 %>
      <div class="chaos-form-message error">
         出现了 <%= @errors_count %> 个错误！
        <ul>
          <% @organization_member.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          <% @contacts.each do |contact| %>
          <% contact.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          <% end %>
          <% @recipients.each do |recipient| %>
          <% recipient.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          <% end %>
        </ul>
      </div>
      <% end %>
      <fieldset class="chaos-form-inline">
        <legend>基本信息</legend>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">ID</label>
          <div class="chaos-form-item">
            <span><%= @organization_member.id %></span>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">账号</label>
          <div class="chaos-form-item">
            <span><%= @organization_member.account %></span>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">中文名称</label>
          <div class="chaos-form-item">
            <%= f.text_field :chinese_name %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">外文名称</label>
          <div class="chaos-form-item">
            <%= f.text_field :foreign_name %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">国家/地区</label>
          <div class="chaos-form-item">
            <%= f.collection_select :country_id, Country.sorted_by_pinyin, :id, :name_with_pinyin %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">单位类型</label>
          <div class="chaos-form-item">
            <%= f.select :organization_type, member_organization_type_options %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">单位性质</label>
          <div class="chaos-form-item">
            <div id="organization-member-profit-radio">
              <%= f.radio_button :profit, true  %><label for="organization_member_profit_true">营利</label>
              <%= f.radio_button :profit, false  %><label for="organization_member_profit_false">非营利</label>
            </div>
            <%= javascript_tag do %>
            $(function() {
              $("#organization-member-profit-radio").buttonset();
            });
            <% end %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">是否公开信息</label>
          <div class="chaos-form-item">
            <%= f.check_box :public %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">简介</label>
          <div class="chaos-form-item">
            <%= f.kindeditor :description %>
          </div>
        </div>
      </fieldset>
      <fieldset class="chaos-form-inline">
        <legend>联系信息</legend>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">省/市</label>
          <div class="chaos-form-item">
            <%= f.text_field :province %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">地址</label>
          <div class="chaos-form-item">
            <%= f.text_field :address %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">邮编</label>
          <div class="chaos-form-item">
            <%= f.text_field :postal_code %>
          </div>
        </div>
        <% @contacts.each do |contact| %>
        <%= fields_for :'contacts[]', contact do |c| %>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">联系人姓名</label>
          <div class="chaos-form-item">
            <%= c.text_field :name %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">联系人职务</label>
          <div class="chaos-form-item">
            <%= c.text_field :title %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">联系人电话（座机）</label>
          <div class="chaos-form-item">
            <%= c.text_field :phone %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">联系人电话（移动）</label>
          <div class="chaos-form-item">
            <%= c.text_field :mobile %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">传真</label>
          <div class="chaos-form-item">
            <%= c.text_field :fax %>
          </div>
        </div>
        <% end %>
        <% end %>
        <% @recipients.each_with_index do |recipient, index| %>
        <%= fields_for :'recipients[]', recipient do |r| %>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">邮箱<%= index + 1 if @recipients.count > 1 %></label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= r.text_field :name %></li>
              <li>是否有效 <%= r.check_box :available %></li>
              <li>是否订阅 <%= r.check_box :subscribed %></li>
            </ul>
          </div>
        </div>
        <% end %>
        <% end %>
      </fieldset>
      <fieldset class="chaos-form-inline">
        <legend>管理信息</legend>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">备注</label>
          <div class="chaos-form-item">
            <%= f.kindeditor :remark %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">学术经历</label>
          <div class="chaos-form-item">
            <%= f.kindeditor :academic_experience %>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">入会日期</label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= f.date_select :joined_at %></li>
            </ul>
          </div>
        </div>
        <div class="chaos-form-row bordered">
          <label class="chaos-form-label">正式会员</label>
          <div class="chaos-form-item">
            <ul class="chaos-form-list inline">
              <li><%= f.check_box :approved %></li>
            </ul>
          </div>
        </div>
      </fieldset>
      <div class="chaos-button-row">
        <%= f.submit '提交', class: 'btn btn-danger' %>
        <input type="reset" value="重置" class="btn" />
        <%= chaos_button_to_return '返回单位会员信息', path: url_for([:admin, @organization_member]) %>
        <%= chaos_button_to_return '返回单位会员列表', path: admin_organization_members_path %>
      </div>
    <% end %>
  </div>
</div>