<div id="side">
  <div class="side-row">
    <%= link_to raw("&raquo; 简介"), about_introduction_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 章程"), about_rule_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 历届理事会"), about_council_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 会员分布"), about_distribution_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 联系方式"), about_contact_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 入会指南"), about_guide_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 会员权利"), about_benefit_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 申请表下载"), about_application_form_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 常见问题"), about_faq_path %>
  </div>
  <div class="side-row">
    <%= link_to raw("&raquo; 《世界汉语教学》会刊"), about_publication_path %>
  </div>
</div>