<div id="main">
  <div id="location"><%= location_tag %></div>
  <div class="member-edit">
    <h1>修改密码</h1>
    <%= flash_tag %>
    <%= form_tag update_password_member_path, method: :post do %>
      <div class="form form-member">
        <fieldset>
          <div class="form-row">
            <label class="form-label">原密码：</label>
            <div class="form-item">
              <%= password_field_tag :original_password, nil, class: 'text-field' %>
            </div>
          </div>
          <div class="form-row">
            <label class="form-label">新密码：</label>
            <div class="form-item">
              <%= password_field_tag :password, nil, class: 'text-field' %>
            </div>
          </div>
          <div class="form-row">
            <label class="form-label">密码确认：</label>
            <div class="form-item">
              <%= password_field_tag :password_confirmation, nil, class: 'text-field' %>
            </div>
          </div>
        </fieldset>
        <div class="form-action">
          <%= submit_tag '提交', :class => 'btn-blue' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render '/services/side' %>